Security & Access Rights Auditor/main/default/flows/Organization_Security_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Security_Audit</name>
        <label>Run Security Audit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OrgSecurityAuditInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>includeInactive</name>
            <value>
                <elementReference>includeInactive</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>riskLevelFilter</name>
            <value>
                <elementReference>riskLevelFilter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrgSecurityAuditInvoker</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Results</name>
        <label>Assign Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputExecutiveSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.executiveSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRiskScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.overallRiskScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCriticalCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.criticalRiskCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputHighCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.highRiskCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRiskAssessment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.riskAssessment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCriticalFindings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.criticalFindings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRecommendations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.recommendations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputProfileAnalysis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.profileAnalysis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSystemPermissionAnalysis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.systemPermissionAnalysis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputHighRiskUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.highRiskUsers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputComplianceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Security_Audit.complianceStatus</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Performs comprehensive organization security audit with risk assessment, permission analysis, and CSV exports. Designed for Agentforce integration.</description>
    <interviewLabel>Organization Security Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Organization Security Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Security_Audit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>includeInactive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputComplianceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputCriticalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputCriticalFindings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputExecutiveSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputHighCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputHighRiskUsers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputProfileAnalysis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputRecommendations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputRiskAssessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputRiskScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputSystemPermissionAnalysis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>riskLevelFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All</stringValue>
        </value>
    </variables>
</Flow>
